* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #7a5cff 0%, #3cd644 100%);
}

body {
  padding-top: 20px;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex; 
  font-size: 24px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}

